@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');

:root {
  --primaryKLA: #017143;
  --primaryKLAButton: #44ab42;
  --primaryKLCButton: #fd2142;
  /* --primaryKLC: #f75151; */
  --primaryKLC: #c53330;
  --primaryBlack: #333333;
  --primaryBackground: #f4f4f4;
  --primaryLottie: #fafafa;
  /* Chips */
  --md-chip-heigth: 32px;
  --md-chip-color: #e0e0e0;
  --md-chipKLA-color: linear-gradient(
    to right top,
    #26b111,
    #4ec00f,
    #6ece0f,
    #8bdd0f,
    #a8eb12
  );
  --md-chipKLC-color: linear-gradient(
    to right top,
    #9f4811,
    #a0420b,
    #a03b06,
    #a13303,
    #a12a00
  );

  --onHoverMenu-KLA: #def5de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}
body {
  /* overflow: hidden; */
}
.optionSourceWelcome {
  font-size: 2rem;
}
section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  max-height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: var(--primaryKLA);
}

/* input {
  height: 40px;
  padding: 10px;
  outline: none;
  border: none;
  box-shadow: 0 0 12px 0 #eee;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
} */

/* Welcome Screen CSS */

.header-background {
  /* background: rgb(152, 242, 190); */
  background: linear-gradient(
    164deg,
    rgba(152, 242, 190, 0.8463760504201681) 0%,
    rgba(20, 241, 8, 0.700717787114846) 64%
  );

  width: 100%;
  /* height: 100%; */
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
}
/*  */
.Toastify__toast-body {
  margin: auto 0 !important;
  padding: 6px !important;
  font-weight: 500 !important;
  font-size: 1.4rem !important;
}

.logo-name--kla {
  /* color: #017143; */
  color: var(--primaryKLA);
  font-size: 2rem;
  font-weight: 800;
  word-spacing: 0.7rem;
  letter-spacing: 1.5px;
  text-decoration: none;
}

.logo-name--kla:hover {
  color: var(--primaryKLA);
  text-decoration: none;
  cursor: pointer;
}

.logo-name--klc {
  /* color: #017143; */
  color: var(--primaryKLC);
  font-size: 2rem;
  font-weight: 800;
  word-spacing: 0.7rem;
  letter-spacing: 1.5px;
  text-decoration: none;
}

.logo-name--klc:hover {
  color: var(--primaryKLC);
  text-decoration: none;
  cursor: pointer;
}

/* Styling Language Bar */
.selectLabel {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

select.custom-select-KLA.menu-select-KLA {
  /* background: transparent; */
  background-color: #fff;
  border: 2px solid var(--primaryKLA);
  border-radius: 7px;
  color: #333333;
  padding: 0px 12px;
  height: auto;
  outline: none;
}

select.custom-select-KLA.menu-select-KLA:active {
  /* background: transparent; */
  outline-color: var(--primaryKLA);
}
select.custom-select-KLC.menu-select-KLC {
  /* background: transparent; */
  background-color: #fff;
  border: 2px solid var(--primaryKLC);
  border-radius: 7px;
  color: #333333;
  padding: 0px 12px;
  height: auto;
  outline: none;
}

select.custom-select-KLC.menu-select-KLC:active {
  outline-color: var(--primaryKLC);
}

select.custom-select-KLA.menu-select-KLC:active:focus {
  /* background: transparent; */
  background-color: #fff;
  border: 2px solid var(--primaryKLA);
  border-radius: 7px;
  color: #333333;
  padding: 0px 12px;
  height: auto;
  outline-style: none;
}
/* Styling Language Bar */
/* Styling Select Sort */
.debate-result-resultPage--selectContainer {
  display: block;
  float: right;
}

/* Styling Select Sort end */

/* Welcome Screen Container Box */

.container-main {
  justify-content: start;
  width: 100%;
  display: flex;
  margin-top: 81px;
  padding: 10px 100px;
  padding-left: 1rem;
  /* background-image: url('./images/mesh.png'); */
}

.imgContainer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keypersonImgContainer {
  position: relative;
  max-width: 294px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgBx {
  max-width: 100%;
  padding: 3rem;
}
/* https://www.w3schools.com/css/css3_images.asp */
.imgBx img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: table;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0 0 9px rgb(0 0 0 / 20%);
}

.intro {
  text-align: center;
  line-height: 0.7rem;
  margin-top: -2.1rem;
}

.name {
  letter-spacing: 1.4px;
  font-weight: 3rem;
}

.intro .designation {
  letter-spacing: 1px;
}

/* Search Area */
.searchArea {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  padding: 150px;
  background-image: url(images/vs1.png);
  background-position: -269px 183px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

/* Glass Search Form Container */
/* v1 */
/* .searchGlassContainer {
  color: #fff;
  margin: 40px auto;
  margin-left: 21rem;
  background-color: rgb(106 108 106 / 6%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 83%;
  border-radius: 15px;
  padding: 32px;
  backdrop-filter: blur(10px);
} */

.searchGlassContainer {
  padding: 1rem 2rem;
  /* padding-left: 14rem; */
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 5px 4px 9px 1px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 5px 4px 9px 1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 5px 4px 9px 1px rgba(0, 0, 0, 0.17);
  margin-left: 34rem;
  transition: all 0.3s;
}

.searchGlassContainer:hover,
.searchGlassContainer:active,
.searchGlassContainer:focus {
  transform: translateY(-0.3rem);
  box-shadow: 2px 5px 12px -4px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 2px 5px 12px -4px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 2px 5px 12px -4px rgba(0, 0, 0, 0.76);
}

.welcome-closeQuery {
  outline: none;
  border: none;
  /* background-color: #cbcdcf; */
  background-color: #fff;
  border-radius: 2rem;
  /* padding: 0; */
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 2rem;
  text-decoration: none;
  color: black;
}

.welcome-closeQuery:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* Welecome Screen Shape */
.welcomeShape {
  border-radius: 57% 43% 70% 30% / 30% 24% 76% 70%;
  background-color: limegreen;
  height: 25rem;
  width: 25rem;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.searchInputWrapper {
  display: flex;
  width: 95%;
  /* margin-left: 21rem; */
}

.searchIconWelcome {
  font-size: 1.5rem;
  padding: 1.5rem;
}

/* Animate Loader */

.animateLoader {
  /* width: 120px;
  height: 120px; */

  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.searchInput--kla {
  box-sizing: border-box;
  padding: 10px 14px;
  border: 1px solid grey;
  /* background-color: rgba(255, 255, 255, 0.7); */
  width: 100%;
  border-right: none;
  border-radius: 2px;
  transition: 0.2s all;
  font-size: 2rem;
  outline-style: none;
  height: 100%;
  border: none;
}
/* KLA */
.searchInput--kla:hover,
.searchInput--kla:active,
.searchInput--kla:focus {
  /* border: 2px solid var(--primaryKLA);
  outline-style: none; */
}

.searchInput--kla::placeholder {
  letter-spacing: 1px;
}

/* KLC */
.searchInput--klc {
  box-sizing: border-box;
  padding: 10px 14px;
  /* border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.7); */
  width: 100%;
  border-right: none;
  border-radius: 2px;
  transition: 0.2s all;
  font-size: 2rem;
  outline-style: none;
  height: 100%;
  border: none;
}

.searchInput--klc:hover,
.searchInput--klc:active,
.searchInput--klc:focus {
  /* border: 2px solid var(--primaryKLC);
  outline-style: none; */
}

.searchInput--klc::placeholder {
  letter-spacing: 1px;
}

/* Welcome Screen KLA */
.searchSubmit--kla {
  width: 20%;
  background-color: rgba(68, 171, 66, 0.5);
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  padding: 10px;
  color: var(--primaryKLA);
  font-size: 1.6rem;
  border-radius: 62px;
  max-width: 15rem;

  border: 1px solid var(--primaryKLA);
  transition: 0.3s all;
  max-height: 5.2rem;
}

.searchSubmit--kla:hover {
  background-color: #017143;
  color: white;
}

/* Welcome Screen KLC */
.searchSubmit--klc {
  width: 20%;
  background-color: rgb(249, 104, 104, 0.5);
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  padding: 10px;
  color: var(--primaryKLC);
  font-size: 1.6rem;
  border-radius: 62px;
  max-width: 15rem;
  border: 1px solid var(--primaryKLC);
  transition: 0.3s all;
}

.searchSubmit--klc:hover {
  background-color: var(--primaryKLC);
  color: white;
}

/* Style */

/* Explorer CSS */

.container-main-explorer {
}

.gradient-ribbon--KLA {
  width: 100%;
  /* background-color: var(--primaryKLA); */
  background-image: linear-gradient(to right, #006346, #0f914c);
  background-position: center 0px;
  height: 1.3rem;
}

.gradient-ribbon--KLC {
  width: 100%;
  background-image: linear-gradient(89.81deg, #c52626 30%, #db4343 90%);
  background-position: center 0px;
  height: 1.3rem;
}

/* Explorer CSS Header */

.section-results-main {
  margin-top: 12rem;
  background-color: var(--primaryBackground);
  height: 98vh;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #ffff;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footerheader--kla {
  font-size: 1rem;
  word-spacing: 2px;
  padding: 0.5rem;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--primaryKLA);
  cursor: pointer;
  border-radius: 2px;
}

footer .footerheader--kla:hover {
  text-decoration: underline;
}

footer .footerheader--klc {
  font-size: 1rem;
  word-spacing: 2px;
  padding: 0.5rem;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--primaryKLC);
  cursor: pointer;
  border-radius: 2px;
}

footer .footerheader--klc:hover {
  text-decoration: underline;
}

.header-main {
  width: 100%;
  margin-left: -7rem;
}
.header--level1 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
}
/* Search Container KLA  */
.searchContainer-explorer--kla {
  box-shadow: 0 0 9px rgb(0 0 0 / 20%);
  border: 1px solid #fff;
  border-radius: 1rem;
  width: 47rem;
  height: 3rem;
  margin-left: 5rem;
  display: flex;
  transition: 0.3s all;
}

.searchContainer-explorer--kla:hover,
.searchContainer-explorer--kla:active,
.searchContainer-explorer--kla:focus-within {
  border: 1px solid var(--primaryKLA);
  height: 3.2rem;
  width: 48rem;
  margin-left: 3rem;
}

.searchContainer-explorer--kla:hover .searchIcon,
.searchContainer-explorer--kla:active .searchIcon,
.searchContainer-explorer--kla:focus-within .searchIcon {
  margin: 5px;
  font-size: 1.3rem;
}

.searchContainer-explorer--klc {
  box-shadow: 0 0 9px rgb(0 0 0 / 20%);
  border: 1px solid #fff;
  border-radius: 1rem;
  width: 47rem;
  height: 3rem;
  margin-left: 5rem;
  display: flex;
  transition: 0.3s all;
}

.searchContainer-explorer--klc:hover,
.searchContainer-explorer--klc:active,
.searchContainer-explorer--klc:focus-within {
  border: 1px solid var(--primaryKLC);
  height: 3.2rem;
  width: 48rem;
  margin-left: 3rem;
}

.searchContainer-explorer--klc:hover .searchIcon,
.searchContainer-explorer--klc:active .searchIcon,
.searchContainer-explorer--klc:focus-within .searchIcon {
  margin: 5px;
  font-size: 1.3rem;
}

.searchIcon {
  width: 10%;
  text-align: center;
  margin: 5px;
  color: grey;
  font-size: 1rem;
  transition: 0.3s all;
}

.searchIcon:hover,
.searchIcon:active {
  margin: 4px;
  font-size: 1.3rem;
}

.searchInput-explorer {
  width: 100%;
  border-style: none;
  /* border-color: red; */
  padding: 2px 8px 2px 8px;
  font-size: 1.5rem;
  height: 2.8rem;
  letter-spacing: 0.7px;
}

.searchInput-explorer:active,
.searchInput-explorer:focus {
  border-style: none;
  outline-style: none;
  /* border-color: red; */
}

/* Search Submit Explorer */
.searchSubmit-explorer--kla {
  width: 10%;
  /* background-color: rgba(68, 171, 66, 0.5); */
  background-color: #fff;
  border-left: none;
  cursor: pointer;
  padding: 3px;
  color: var(--primaryKLA);
  font-size: 1.6rem;
  border-radius: 62px;
  max-width: 15rem;
  border: 1px solid var(--primaryKLA);
  transition: 0.3s all;
  margin-left: 1rem;
  min-width: 9rem;
  max-height: 32px;
}

.searchSubmit-explorer--kla:hover {
  background-color: #017143;
  color: white;
}

.searchSubmit-explorer--kla:hover .lds-dual-ring--kla:after {
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
}

/* Welcome Screen KLC */
.searchSubmit-explorer--klc {
  width: 10%;
  /* background-color: rgba(68, 171, 66, 0.5); */
  background-color: #fff;
  border-left: none;
  cursor: pointer;
  padding: 3px;
  color: var(--primaryKLC);
  font-size: 1.6rem;
  border-radius: 62px;
  max-width: 15rem;
  border: 1px solid var(--primaryKLC);
  transition: 0.3s all;
  margin-left: 1rem;
  min-width: 9rem;
  max-height: 32px;
}

.searchSubmit-explorer--klc:hover {
  background-color: var(--primaryKLC);
  color: white;
}

.searchSubmit-explorer--kla:hover .lds-dual-ring--klc:after {
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
}

/* Header Level2  KLA */

.header--level2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
}
.header-navigation--kla {
  position: relative;
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}

.header-navigation--kla li {
  list-style: none;
  margin-left: 30px;
  vertical-align: bottom;
  font-size: 1.4rem;
  /* transition: 0.1s all; */
}

.header-navigation--kla li:hover,
.header-navigation--kla li:active {
  /* background-color: var(--primaryKLA); */
  border-bottom: 2px solid var(--primaryKLA);
}

/* .header-navigation--kla li:last-child {
  background-color: var(--primaryKLA);
  border: none;ls
  padding: 0 3px;
} */

/* .header-navigation--kla li:last-child :hover { */
/* background-color: var(--primaryKLA); */
/* color: #fff; */
/* background-color: var(--primaryKLA); */
/* border-radius: 2px; */
/* } */

.header-navigation--kla li i {
  color: var(--primaryKLA);
}

.header-navigation--kla li a {
  text-decoration: none;
  color: var(--primaryKLA);
  font-weight: 500;
  font-size: inherit;
  padding: 0 5px;
}

/* Header Level2  KLA -- End */

/* Header Level2  KLC --Start */

.header--level2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3.8rem;
}
.header-navigation--klc {
  position: relative;
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}

.header-navigation--klc li {
  list-style: none;
  margin-left: 30px;
  vertical-align: bottom;
  font-size: 1.4rem;
  /* transition: 0.1s all; */
}

.header-navigation--klc li:hover,
.header-navigation--klc li:active {
  /* background-color: var(--primaryKLA); */
  border-bottom: 2px solid var(--primaryKLC);
}

.header-navigation--klc li:last-child {
  /* background-color: var(--primaryKLA); */
  border: none;
  padding: 0 3px;
}

.header-navigation--klc li:last-child :hover {
  /* background-color: var(--primaryKLA); */
  color: #fff;
  background-color: var(--primaryKLC);
  border-radius: 2px;
}

.header-navigation--klc li i {
  color: var(--primaryKLC);
}

.header-navigation--klc li a {
  text-decoration: none;
  color: var(--primaryKLC);
  font-weight: 500;
  font-size: inherit;
  padding: 0 5px;
}

/* Header Level2  KLC -- End */

/* Loading CSS */

.button:disabled {
  opacity: 0.5;
}
.lds-dual-ring--kla {
  display: inline-block;
  width: 0x;
  height: 0px;
}
.lds-dual-ring--kla:after {
  /* position: absolute; */
  /* top: 16px;
  right: 328px; */
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 20px;
  /* margin: 8px; */
  border-radius: 50%;
  /* border: 6px solid #fff;
  border-color: #fff transparent #fff transparent; */
  border: 4px solid var(--primaryKLA);
  border-color: var(--primaryKLA) transparent var(--primaryKLA) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
.lds-dual-ring--kla:hover:after {
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
}

.lds-dual-ring--klc {
  display: inline-block;
  width: 0x;
  height: 0px;
}
.lds-dual-ring--klc:after {
  /* position: absolute; */
  /* top: 16px;
  right: 328px; */
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 20px;
  /* margin: 8px; */
  border-radius: 50%;
  /* border: 6px solid #fff;
  border-color: #fff transparent #fff transparent; */
  border: 4px solid var(--primaryKLA);
  border-color: var(--primaryKLC) transparent var(--primaryKLC) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
.lds-dual-ring--klc:hover:after {
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Laoding CSS End */

/* Higlight Tab */

.active_tab--kla {
  border-bottom: 2px solid var(--primaryKLA);
}

.active_tab--klc {
  border-bottom: 2px solid var(--primaryKLC);
}

/* Highlight Tab end */

/* Debate Result Styles  */

/* /////////// Collapsible Styles ////// */
.collapsibleContainer {
  padding: 2rem 1rem;
}

/* Style the button that is used to open and close the collapsible content */
/* KLA */
.collapsible--kla {
  /* background-color: #eee; */
  color: var(--primaryKLA);
  cursor: pointer;

  font-weight: 500;
  padding: 12px;
  padding-left: 2rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.4rem;
  border-radius: 4.5rem 0.5rem 0 0;
  box-shadow: 0 0 6px rgb(0 0 0 / 20%);
  vertical-align: middle;
  /* background: #56ab2f; fallback for old browsers */
  background-color: var(--primaryLottie);
  letter-spacing: 1.3px;
  border-bottom: 4px solid var(--primaryKLA);
}
.collapsible--kla:hover {
}

.collapsible--kla::after {
  content: '\002B';
  color: var(--primaryKLA);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible--kla.active::after {
  content: '\2212';
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, */

/* KLC */
/* KLA */
.collapsible--klc {
  /* background-color: #eee; */
  color: var(--primaryKLC);
  cursor: pointer;
  font-weight: 400;
  padding: 12px;
  padding-left: 2rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 4.5rem 0.5rem 0 0;
  box-shadow: 0 0 6px rgb(0 0 0 / 20%);
  vertical-align: middle;
  /* background: #56ab2f; fallback for old browsers */
  background-color: var(--primaryLottie);
  border-bottom: 4px solid var(--primaryKLC);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, */
.collapsible--klc:hover {
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0.5rem 1.3rem;
  /* visibility: visible; */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #fff;
  transition: 0.5s display;
  vertical-align: middle;
  max-height: 30rem;
}

.collapsibleInput {
  width: 100%;
  padding: 5px;
  font-weight: 400;
  outline: none;
  font-size: 1.2rem;
}

.facetContainer {
  padding: 1rem;
  overflow-y: auto;
}

.facetItem label {
  display: flex;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1.5rem;
}

.facetItem span {
  font-size: 1.2rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
}

/* /////////// Collapsible End ////// */

.debate-result--container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.debate-result-facet--container {
  /* background-color: red; */
  width: 20%;
  overflow-y: auto;
}

.debate-result-resultPage--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: none;
  width: 80%;
}

.debate-result-filterView--container {
  background-color: none;
  height: 10%;
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
}

.filterInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 0.5rem;
}

.debate-result-resultPage-displayResults--container {
  /* background-color: aqua; */
  height: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* Debate Result Styles End  */

.facet-filter-view {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* Chips  */
.md-chip--kla {
  display: inline-block;
  background: var(--primaryKLAButton);
  color: #fff;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 13px;
  margin: 0 5px 3px 0;
  letter-spacing: 1px;
  box-shadow: 0 2px 2px 0 rgba(134, 128, 128, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.md-chip--klc {
  display: inline-block;
  background: var(--primaryKLCButton);
  color: #fff;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 13px;
  margin: 0 5px 3px 0;
  letter-spacing: 1px;
  box-shadow: 0 2px 2px 0 rgba(134, 128, 128, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.md-chip-remove--KLA {
  display: inline-block;
  background: var(--primaryKLA);
  border: 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  padding: 0;
  margin: 0 -4px 0 4px;
  cursor: pointer;
  font: inherit;
  line-height: 15px;
}

.md-chip-remove--KLA:after {
  color: #fff;
  font-weight: 1rem;
  content: 'x';
}
.md-chip-remove--KLA:hover {
  background: #348d4b;
}
.md-chip-remove--KLA:active {
  background: #348d4b;
}

.md-chip-remove--KLC {
  display: inline-block;
  background: var(--primaryKLC);
  border: 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  padding: 0;
  margin: 0 -4px 0 4px;
  cursor: pointer;
  font: inherit;
  line-height: 15px;
}

.md-chip-remove--KLC:after {
  color: #fff;
  font-weight: 1rem;
  content: 'x';
}
.md-chip-remove--KLC:hover {
  background: #9a2624;
}
.md-chip-remove--KLC:active {
  background: #9a2624;
}

.facet--loading {
  display: flex;
  width: 23%;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0.3rem;
  /* vertical-align: middle; */
  box-shadow: 11px 8px 42px -9px rgba(39, 36, 36, 0.56);
  -webkit-box-shadow: 11px 8px 42px -9px rgba(39, 36, 36, 0.56);
  -moz-box-shadow: 11px 8px 42px -9px rgba(39, 36, 36, 0.56);
}

.facet--loading-text {
  padding: 0.5rem;
  font-size: 1rem;
}

/* Chips End */

/* Loading Buttons for Facets */
.loadingResultsInfo {
  width: 50%;
}

.lds-ring--kla {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
}
.lds-ring--kla div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 8px;
  border: 2px solid rgb(11, 212, 22);
  border-radius: 50%;
  animation: lds-ring--kla 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgba(11, 212, 21, 0.979) transparent transparent transparent;
  top: -3px;
  bottom: -10px;
}
.lds-ring--kla div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring--kla div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring--kla div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring--kla {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-ring--klc {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
}
.lds-ring--klc div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 8px;
  border: 2px solid rgba(219, 61, 9, 0.979);
  border-radius: 50%;
  animation: lds-ring--klc 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgba(219, 61, 9, 0.979) transparent transparent transparent;
  top: -3px;
  bottom: -10px;
}
.lds-ring--klc div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring--klc div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring--klc div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring--klc {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loading Buttons for Facets End */

/* Search Info */
.search--info {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  letter-spacing: 1px;
  line-height: 1rem;
  padding: 1rem;
}

/* Search Info End */

/* Debate Result Calander */
.dateSelector {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  padding: 1rem;
  z-index: 1;
  margin-left: 16rem;
}

.calenderButton--kla {
  border-radius: 4rem;
  padding: 0.5rem;
  background-color: #fff;
  color: var(--primaryKLA);
  font-size: 1.2rem;
  border: 2px solid var(--primaryKLA);
  min-width: 27.66rem;
}

.calenderButton--kla::after {
  content: '';
}

.calenderButton--kla:hover {
  background-color: var(--primaryKLA);
  color: #fff;
  font-size: 1.2rem;
  border: 2px solid var(--primaryKLA);
}

.calenderButton--klc {
  border-radius: 4rem;
  padding: 0.5rem;
  background-color: #fff;
  color: var(--primaryKLC);
  font-size: 1.2rem;
  border: 2px solid var(--primaryKLC);
  transition: all 0.3s;
  min-width: 27rem;
}

.calenderButton--klc:hover {
  background-color: var(--primaryKLC);
  color: #fff;
  font-size: 1.2rem;
  border: 2px solid var(--primaryKLC);
}

.dateRange {
  display: block;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.55s ease-out;
}

.calender-date--container {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  background-color: #eff2f7;
}

.calender-date--applyButton-kla {
  border-radius: 0.7rem;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  background-color: #fff;
  color: var(--primaryKLA);
  font-size: 1rem;
  border: 2px solid var(--primaryKLA);
  min-width: 3.66rem;
  transition: all 0.3s ease-out;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.calender-date--applyButton-kla:hover {
  background-color: var(--primaryKLA);
  color: #fff;
}

.calender-date--applyButton-klc {
  border-radius: 0.7rem;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  background-color: #fff;
  color: var(--primaryKLC);
  font-size: 1rem;
  border: 2px solid var(--primaryKLC);
  min-width: 3.66rem;
  transition: all 0.3s ease-out;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.calender-date--applyButton-klc:hover {
  background-color: var(--primaryKLC);
  color: #fff;
}

.calender-date--cancelButton {
  color: #333333;
  background-color: #ffffff;
  /* border-color: #cccccc; */
  border-color: #ffff;
  padding: 5px 10px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  font-weight: 400;
  transition: all 0.3s ease-out;
}

.calender-date--cancelButton:hover {
  color: #333333;
  background-color: #ebebeb;
  /* border-color: #cccccc; */
  border-color: #adadad;
}

/* Debate Result Calander End */

/* Debate 404 Not Found */
.not-found--debateresults {
  width: 64%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 1rem;
  box-shadow: 10px 11px 17px -3px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 10px 11px 17px -3px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 10px 11px 17px -3px rgba(0, 0, 0, 0.65);
}

.not-found--imageContainer img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.not-found--dialogue--kla {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.not-found--dialogue--klc {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.not-found--dialogue--klc {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.not-found--dialogue--kla p {
  font-size: 2rem;
  line-height: 1rem;
  font-weight: 500;
  text-align: center;
}

.not-found--dialogue--kla .not-found--button {
  width: 10%;
  /* background-color: rgba(68, 171, 66, 0.5); */
  background-color: #fff;
  border-left: none;

  padding: 3px;
  color: var(--primaryKLA);
  font-size: 1.6rem;
  border-radius: 62px;
  max-width: 15rem;
  border: 1px solid var(--primaryKLA);
  transition: 0.3s all;

  min-width: 13rem;
  max-height: 32px;
}

.not-found--dialogue--kla button:hover {
  background-color: var(--primaryKLA);

  color: #fff;

  border: 1px solid var(--primaryKLA);
}

.not-found--dialogue--klc p {
  font-size: 2rem;
  line-height: 1rem;
  font-weight: 500;
  text-align: center;
}

.not-found--dialogue--klc .not-found--button {
  width: 10%;
  /* background-color: rgba(68, 171, 66, 0.5); */
  background-color: #fff;
  border-left: none;

  padding: 3px;
  color: var(--primaryKLC);
  font-size: 1.6rem;
  border-radius: 62px;
  max-width: 15rem;
  border: 1px solid var(--primaryKLC);
  transition: 0.3s all;

  min-width: 13rem;
  max-height: 32px;
}

.not-found--dialogue--klc button:hover {
  background-color: var(--primaryKLC);

  color: #fff;

  border: 1px solid var(--primaryKLC);
}
/* Debate 404 Not Found */

/* Result Card Start */
.resultCard-container--kla {
  background-color: #ffff;
  padding: 1rem 2rem;
  border-radius: 0.7rem;

  border-top: 3px solid var(--primaryKLA);
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
  -webkit-box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
  margin-bottom: 1.25rem;
  height: auto;
}

.resultCard-container--klc {
  background-color: #ffff;
  padding: 1rem 2rem;
  border-radius: 0.7rem;

  border-top: 3px solid var(--primaryKLC);
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
  -webkit-box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
  margin-bottom: 1.25rem;
  height: auto;
}

.resultCard--row1 {
  display: flex;
}

.resultCard--fullPdf--kla {
  border: none;
  background-color: #fff;
  padding: 0.5rem;
  color: var(--primaryKLA);
  font-size: 1.2rem;
  border-radius: 2px;
  font-weight: 500;
  border: green solid 0.9px;
  transition: all 0.5s ease-out;
}
.resultCard--fullPdf--kla i {
  font-size: 1.2rem;
}

.resultCard--fullPdf--kla:hover {
  background-color: green;
  color: #fff;
  opacity: 0.8;
}

.resultCard--fullPdf--klc {
  border: none;
  background-color: #fff;
  padding: 0.5rem;
  color: var(--primaryKLC);
  font-size: 1.2rem;
  border-radius: 2px;
  border: var(--primaryKLC) solid 0.9px;
}

.resultCard--row1--actionButtons {
  padding: 0.5rem;
}

.resultCard--fullPdf--klc i {
  font-size: 1.2rem;
}

.resultCard--fullPdf--klc:hover {
  background-color: var(--primaryKLC);
  color: #fff;
  opacity: 0.8;
}

.text {
}

.text.show-more .moreText {
  display: inline;
}

.text.show-more .dots {
  display: none;
}

.read-more-btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.moreText {
  display: none;
}

#debateSubject {
  font-weight: 592;
  letter-spacing: 1px;
  word-spacing: 0.2rem;
  color: #0b0c0b;
  font-size: 1.6rem;
  display: inline-block;
}

#debateSubject:hover {
  text-decoration: underline;
  cursor: pointer;
}
.resultCard-container--info {
  padding: 0.5rem;
}
.resultCard-container--info--debateSubject--kla {
  background-color: #eef1f7;
  text-align: center;
  width: 25%;
  padding: 0.4rem;
  border-radius: 4px;
  color: green;
  font-weight: 590;
  letter-spacing: 1px;
  font-size: 1.2rem;
  min-width: 20rem;
}

.resultCard-container--info--debateSubject--klc {
  background-color: #eef1f7;
  text-align: center;
  width: 25%;
  padding: 0.4rem;
  border-radius: 4px;
  color: var(--primaryKLC);
  font-weight: 590;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.resultCard-container--info--debateSubject {
  padding: 1.1rem 0.3rem;
}
.resultCard-container--info--debateParticipants {
  display: flex;
}
.resultCard-container--info--debateParticipants--nodDisplay {
  display: none;
}
.resultCard-container--info--debateParticipants--container {
  margin-left: 0.5rem;
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
}

#ocrOutput {
  font-size: 1.3rem;
  word-spacing: 2px;
  /* justify-content: stretch; */
  letter-spacing: 0.5px;
  text-align: justify;
}

.resultCard-container--info--ocrInfo {
  padding: 0.5rem;
}

.resultCard-container--info--debateParticipants--header-kla {
  min-width: 18%;
  padding: 0.4rem 0.8rem 0.4rem 0rem;
  display: flex;
  /* align-items: center; */
  /* width: 100%; */
  justify-content: flex-start;
}

.resultCard-container--info--debateParticipants--header-kla div {
  background-color: var(--primaryKLA);
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 2px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  max-height: 1.6rem;
}

.resultsContainer {
  overflow-y: scroll;
}

.resultCard-container--info--debateParticipants--header-klc {
  min-width: 18%;
  padding: 0.4rem 0.8rem 0.4rem 0rem;
  display: flex;
  /* align-items: center; */
  /* width: 100%; */
  justify-content: flex-start;
}

.resultCard-container--info--debateParticipants--header-klc div {
  background-color: var(--primaryKLC);
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 2px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  max-height: 1.6rem;
}

.resultCard-container--actionButtons {
  width: 130px;
  max-width: 130px;
  min-width: 130px;
}
.debateParticipants--item {
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
  font-weight: 500;
  background-color: #eff1f7;

  margin-left: 1.5px;
  margin-top: 1px;
  letter-spacing: 1px;
  font-size: 1rem;
}

.resultCard-container--info--annexure-header {
  display: flex;
}

.resultCard-container--info--annexure-header .annexureHeader--kla {
  background-color: var(--primaryKLA);
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 2px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  max-height: 1.6rem;
  width: auto;
}

.resultCard-container--info--annexure-header .annexureHeader--klc {
  background-color: var(--primaryKLC);
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 2px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  max-height: 1.6rem;
  width: auto;
}
.annexureContainer {
  width: auto;

  /* margin-left: 3px; */
  padding: 0rem 0.3rem;
  font-size: 1.2rem;
  line-height: 1.2;
  text-align: justify;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 2px;
  /* border: #eff1f7 solid 2px; */
}

.annexureContainer:hover {
  width: auto;
  text-decoration: underline;
  cursor: pointer;
}
.reasultCard--info--issuesContainer {
  display: flex;
}
.issuesHeader--kla {
  background-color: var(--primaryKLA);
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 2px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  max-height: 1.6rem;
  width: auto;
}

.issuesHeader--klc {
  background-color: var(--primaryKLC);
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 2px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  max-height: 1.6rem;
  width: auto;
}
.issuesContainer {
  display: flex;
  margin-left: 2px;
  justify-content: center;
}
.issuesItem {
  padding: 0.1rem 0.4rem;
  border-radius: 3px;
  font-weight: 500;
  background-color: #eff1f7;
  margin-left: 1.5px;
  margin-top: 1px;
  letter-spacing: 1px;
  font-size: 1rem;
  max-height: 16px;
}
.resultCard-container--actionButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.actionButtonsHeader--info--kla {
  height: auto;
  display: flex;
  flex-direction: column;
}

.actionButtonsHeader--info--kla div {
  background-color: #eef1f7;
  text-align: center;

  padding: 0.4rem;
  border-radius: 4px;
  color: var(--primaryKLA);
  font-weight: 590;
  letter-spacing: 1px;
  font-size: 1rem;
  width: auto;
  margin-top: 2px;
}

.actionButtonsHeader--info--klc {
  height: auto;
  display: flex;
  flex-direction: column;
}

.actionButtonsHeader--info--klc div {
  background-color: #eef1f7;
  text-align: center;

  padding: 0.4rem;
  border-radius: 4px;
  color: var(--primaryKLC);
  font-weight: 590;
  letter-spacing: 1px;
  font-size: 1rem;
  width: auto;
  margin-top: 2px;
}

.infoTab {
  background-color: #eef1f7;
  text-align: center;

  padding: 0.4rem;
  border-radius: 4px;
  color: green;
  font-weight: 590;
  letter-spacing: 1px;
  font-size: 0.8rem;
  width: auto;
  margin-top: 2px;
}
.cardFooter {
  display: flex;
  padding: 0.8rem;
  justify-content: flex-end;
}

/* Result Card End */

/* Highlight */
.hlt1 {
  background-color: yellow;
  color: red;
  font-weight: bolder;
  font-size: 1.4rem;
}
/* Highlight */

/* Read More */

.expandMoreContent {
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  position: relative;
  height: auto;
  display: block;
  padding-right: 0.5rem;
}
.expandMoreContent > p {
  font-size: 1.2rem;
  word-spacing: 2px;
  /* justify-content: stretch; */
  letter-spacing: 0.5px;
  text-align: justify;
}

.expandMoreContent.expand-active {
  height: auto;
  transition: height 0.5s ease-in-out;
}

.btn-expand-more {
  cursor: pointer;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  display: inline-block;
  transition: all 0.7s ease-in-out;
}

.btn-expand-more:hover {
  background-color: #eff1f7;
  text-decoration: underline;
}

/* Read Less */

/* Scroll CSS */

.scroll-to-top--kla {
  cursor: pointer;
  position: fixed;
  bottom: 3.2rem;
  left: 50%;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background: #fff;
  color: var(--primaryKLA);
  z-index: 1;
  border: var(--primaryKLA) solid 1px;
  display: flex;
  justify-content: center;
  transition: all 0.6s ease;
}

/* .scroll-to-top--kla:hover {
  background: var(--primaryKLA);
  color: #fff;
  z-index: 1;
  border: var(--primaryKLA) solid 1px;
  display: flex;
  justify-content: center;
} */

.scroll-to-top--kla .icon {
  margin-top: 8px;
  /* width: auto; */
  animation: scrollTop 0.5s alternate ease infinite;
  font-size: 1.7rem;
  background: #ffff;
  /* color: green; */
  outline: none;
  height: 28px;
  /* transition: all 0.6s ease; */
}

.scroll-to-top--klc {
  cursor: pointer;
  position: fixed;
  bottom: 3.2rem;
  left: 50%;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background: #fff;
  color: var(--primaryKLC);
  z-index: 1;
  border: var(--primaryKLC) solid 1px;
  display: flex;
  justify-content: center;
  transition: all 0.6s ease;
}

/* .scroll-to-top--kla:hover {
  background: var(--primaryKLA);
  color: #fff;
  z-index: 1;
  border: var(--primaryKLA) solid 1px;
  display: flex;
  justify-content: center;
} */

.scroll-to-top--klc .icon {
  margin-top: 8px;
  /* width: auto; */
  animation: scrollTop 0.5s alternate ease infinite;
  font-size: 1.7rem;
  background: #ffff;
  /* color: green; */
  outline: none;
  height: 28px;
  /* transition: all 0.6s ease; */
}

/* .scroll-to-top--kla .icon:hover {
  background: var(--primaryKLA);
  color: green;
  outline: none;
  height: 28px;
} */

@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}

.sidebarMenu {
  padding: 1rem 0.8rem;
  background-color: var(--primaryLottie);
  height: 100%;
}

.advancedSearchButton--welcome {
  display: flex;
  justify-content: center;
  padding: 1rem 30rem;
}

/* .advancedSearchButton--welcome > button {
  padding: 1rem 1.5rem;
  background-color: brown;
} */

#advancedButton--kla {
  padding: 0.7rem 1.2rem;
  letter-spacing: 1.5px;
  /* background-color: rgba(68, 171, 66, 0.5); */
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease-out;
  font-weight: 400;
  color: #059105;
  border: 1px solid rgba(68, 171, 66, 0.5);
}

#advancedButton--kla:hover {
  transform: translateY(-0.15rem);
  text-decoration: underline;
  background-color: rgba(68, 171, 66, 0.5);
  color: green;
}

#advancedButton--kla:active {
  transform: translateY(0.3rem);
}

#advancedButton--klc {
  padding: 0.7rem 1.2rem;
  letter-spacing: 1.5px;
  /* background-color: rgba(68, 171, 66, 0.5); */
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease-out;
  font-weight: 400;
  color: rgb(247, 39, 39);
  border: 1px solid #f54e5e;
}

#advancedButton--klc:hover {
  transform: translateY(-0.15rem);
  text-decoration: underline;
  background-color: #f39c9c;
  color: red;
}

#advancedButton--klc:active {
  transform: translateY(0.3rem);
}

/* Scroll CSS End */

/* ////////////////////////////////////////////////////////// */
/* /////////////////Media Queries /////////////////////////// */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1300px) and (max-width: 1600px) {
  .searchArea {
    padding-right: 43px;
    padding-top: 50px;
  }

  .searchGlassContainer {
    margin-left: 5rem;
  }

  .header--level2 {
    margin-top: 3.8rem;
  }

  .logo-name--kla {
    font-size: 1.8rem;
  }

  .logo-name--klc {
    font-size: 1.8rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
  .searchArea {
    padding-right: 150px;
  }

  .searchGlassContainer {
    margin-left: 34rem;
  }

  .advancedSearchButton--welcome {
    width: 118%;
  }
}

@media only screen and (min-width: 1824px) {
  .searchArea {
    padding-right: 150px;
  }

  .searchGlassContainer {
    margin-left: 34rem;
  }

  .advancedSearchButton--welcome {
    width: 118%;
  }
}

/* /////////////////Media Queries End/////////////////////// */
/* ////////////////////// /////////////////////////// */
