@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700&display=swap");

:root {
  --primaryKLA: #017143;
  --primaryKLAButton: #44ab42;
  /* --primaryKLC: #f75151; */
  --primaryKLC: #c53330;
  --primaryBlack: #333333;
  --primaryBackground: #f4f4f4;
  --primaryLottie: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  /* overflow: hidden; */
}

section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  max-height: 100vh;
  overflow: hidden;
}

/* input {
  height: 40px;
  padding: 10px;
  outline: none;
  border: none;
  box-shadow: 0 0 12px 0 #eee;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
} */

/* Welcome Screen CSS */

.header-background {
  /* background: rgb(152, 242, 190); */
  background: linear-gradient(
    164deg,
    rgba(152, 242, 190, 0.8463760504201681) 0%,
    rgba(20, 241, 8, 0.700717787114846) 64%
  );

  width: 100%;
  /* height: 100%; */
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
}
/*  */
.Toastify__toast-body {
  margin: auto 0 !important;
  padding: 6px !important;
  font-weight: 500 !important;
  font-size: 1.4rem !important;
}

.logo-name--kla {
  /* color: #017143; */
  color: var(--primaryKLA);
  font-size: 2rem;
  font-weight: 800;
  word-spacing: 0.7rem;
  letter-spacing: 1.5px;
  text-decoration: none;
}

.logo-name--kla:hover {
  color: var(--primaryKLA);
  text-decoration: none;
  cursor: pointer;
}

.logo-name--klc {
  /* color: #017143; */
  color: var(--primaryKLC);
  font-size: 2rem;
  font-weight: 800;
  word-spacing: 0.7rem;
  letter-spacing: 1.5px;
  text-decoration: none;
}

.logo-name--klc:hover {
  color: var(--primaryKLC);
  text-decoration: none;
  cursor: pointer;
}

/* Styling Language Bar */
.selectLabel {
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
}

select.custom-select-KLA.menu-select-KLA {
  /* background: transparent; */
  background-color: #fff;
  border: 2px solid var(--primaryKLA);
  border-radius: 7px;
  color: #333333;
  padding: 0px 12px;
  height: auto;
}

select.custom-select-KLC.menu-select-KLC {
  /* background: transparent; */
  background-color: #fff;
  border: 2px solid var(--primaryKLC);
  border-radius: 7px;
  color: #333333;
  padding: 0px 12px;
  height: auto;
  outline-style: none;
}

select.custom-select-KLA.menu-select-KLC:active:focus {
  /* background: transparent; */
  background-color: #fff;
  border: 2px solid var(--primaryKLA);
  border-radius: 7px;
  color: #333333;
  padding: 0px 12px;
  height: auto;
  outline-style: none;
}
/* Styling Language Bar */

/* Welcome Screen Container Box */

.container-main {
  justify-content: start;
  width: 100%;
  display: flex;
  margin-top: 81px;
  padding: 10px 100px;
}

.imgContainer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keypersonImgContainer {
  position: relative;
  max-width: 294px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgBx {
  max-width: 100%;
  padding: 3rem;
}
/* https://www.w3schools.com/css/css3_images.asp */
.imgBx img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: table;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0 0 9px rgb(0 0 0 / 20%);
}

.intro {
  text-align: center;
  line-height: 0.7rem;
  margin-top: -2.1rem;
}

.name {
  letter-spacing: 1.4px;
  font-weight: 3rem;
}

.intro .designation {
  letter-spacing: 1px;
}

/* Search Area */
.searchArea {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  padding: 150px;
  background-image: url(images/vs1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.searchInputWrapper {
  display: flex;
  width: 90%;
}

/* Animate Loader */

.animateLoader {
  /* width: 120px;
  height: 120px; */

  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.searchInput--kla {
  box-sizing: border-box;
  padding: 10px 14px;
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  border-right: none;
  border-radius: 2px;
  transition: 0.2s all;
  font-size: 2rem;
  outline-style: none;
  height: 100%;
}
/* KLA */
.searchInput--kla:hover,
.searchInput--kla:active,
.searchInput--kla:focus {
  border: 2px solid var(--primaryKLA);
  outline-style: none;
}

/* KLC */
.searchInput--klc {
  box-sizing: border-box;
  padding: 10px 14px;
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  border-right: none;
  border-radius: 2px;
  transition: 0.2s all;
  font-size: 2rem;
  outline-style: none;
  height: 100%;
}

.searchInput--klc:hover,
.searchInput--klc:active,
.searchInput--klc:focus {
  border: 2px solid var(--primaryKLC);
  outline-style: none;
}

/* Welcome Screen KLA */
.searchSubmit--kla {
  width: 20%;
  background-color: rgba(68, 171, 66, 0.5);
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  padding: 10px;
  color: var(--primaryKLA);
  font-size: 1.6rem;
  border-radius: 2px;
  max-width: 15rem;

  border: 1px solid var(--primaryKLA);
  transition: 0.3s all;
  max-height: 5.2rem;
}

.searchSubmit--kla:hover {
  background-color: #017143;
  color: white;
}

/* Welcome Screen KLC */
.searchSubmit--klc {
  width: 20%;
  background-color: rgb(249, 104, 104, 0.5);
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  padding: 10px;
  color: var(--primaryKLC);
  font-size: 1.6rem;
  border-radius: 2px;
  max-width: 15rem;
  border: 1px solid var(--primaryKLC);
  transition: 0.3s all;
}

.searchSubmit--klc:hover {
  background-color: var(--primaryKLC);
  color: white;
}

/* Style */

/* Explorer CSS */

.container-main-explorer {
}

.gradient-ribbon--KLA {
  width: 100%;
  /* background-color: var(--primaryKLA); */
  background-image: linear-gradient(to right, #006346, #0f914c);
  background-position: center 0px;
  height: 1.3rem;
}

.gradient-ribbon--KLC {
  width: 100%;
  background-image: linear-gradient(89.81deg, #c52626 30%, #db4343 90%);
  background-position: center 0px;
  height: 1.3rem;
}

/* Explorer CSS Header */

.section-results-main {
  margin-top: 12rem;
  background-color: var(--primaryBackground);
  height: 98vh;
  padding: 2rem 2rem;
}

footer {
  background-color: blueviolet;
  height: 3vh;
}

.header-main {
  width: 100%;
  margin-left: -7rem;
}
.header--level1 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
}
/* Search Container KLA  */
.searchContainer-explorer--kla {
  box-shadow: 0 0 9px rgb(0 0 0 / 20%);
  border: 1px solid #fff;
  border-radius: 1rem;
  width: 47rem;
  height: 3rem;
  margin-left: 5rem;
  display: flex;
  transition: 0.3s all;
}

.searchContainer-explorer--kla:hover,
.searchContainer-explorer--kla:active,
.searchContainer-explorer--kla:focus-within {
  border: 1px solid var(--primaryKLA);
  height: 3.5rem;
  width: 48rem;
  margin-left: 3rem;
}

.searchContainer-explorer--kla:hover .searchIcon,
.searchContainer-explorer--kla:active .searchIcon,
.searchContainer-explorer--kla:focus-within .searchIcon {
  margin: 7px;
  font-size: 1.3rem;
}

.searchContainer-explorer--klc {
  box-shadow: 0 0 9px rgb(0 0 0 / 20%);
  border: 1px solid #fff;
  border-radius: 1rem;
  width: 47rem;
  height: 3rem;
  margin-left: 5rem;
  display: flex;
  transition: 0.3s all;
}

.searchContainer-explorer--klc:hover,
.searchContainer-explorer--klc:active,
.searchContainer-explorer--klc:focus-within {
  border: 1px solid var(--primaryKLC);
  height: 3.5rem;
  width: 48rem;
  margin-left: 3rem;
}

.searchContainer-explorer--klc:hover .searchIcon,
.searchContainer-explorer--klc:active .searchIcon,
.searchContainer-explorer--klc:focus-within .searchIcon {
  margin: 7px;
  font-size: 1.3rem;
}

.searchIcon {
  width: 10%;
  text-align: center;
  margin: 5px;
  color: grey;
  font-size: 1rem;
  transition: 0.3s all;
}

.searchIcon:hover,
.searchIcon:active {
  margin: 7px;
  font-size: 1.3rem;
}

.searchInput-explorer {
  width: 100%;
  border-style: none;
  /* border-color: red; */
  padding: 2px 8px;
  font-size: 1.5rem;
  height: 3rem;
  letter-spacing: 0.7px;
}

.searchInput-explorer:active,
.searchInput-explorer:focus {
  border-style: none;
  outline-style: none;
  /* border-color: red; */
}

/* Search Submit Explorer */
.searchSubmit-explorer--kla {
  width: 10%;
  /* background-color: rgba(68, 171, 66, 0.5); */
  background-color: #fff;
  border-left: none;
  cursor: pointer;
  padding: 3px;
  color: var(--primaryKLA);
  font-size: 1.6rem;
  border-radius: 62px;
  max-width: 15rem;
  border: 1px solid var(--primaryKLA);
  transition: 0.3s all;
  margin-left: 1rem;
  min-width: 9rem;
  max-height: 32px;
}

.searchSubmit-explorer--kla:hover {
  background-color: #017143;
  color: white;
}

.searchSubmit-explorer--kla:hover .lds-dual-ring:after {
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
}

/* Welcome Screen KLC */
.searchSubmit-explorer--klc {
  width: 10%;
  /* background-color: rgba(68, 171, 66, 0.5); */
  background-color: #fff;
  border-left: none;
  cursor: pointer;
  padding: 3px;
  color: var(--primaryKLC);
  font-size: 1.6rem;
  border-radius: 62px;
  max-width: 15rem;
  border: 1px solid var(--primaryKLC);
  transition: 0.3s all;
  margin-left: 1rem;
  min-width: 9rem;
  max-height: 32px;
}

.searchSubmit-explorer--klc:hover {
  background-color: var(--primaryKLC);
  color: white;
}

/* Header Level2  KLA */

.header--level2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
}
.header-navigation--kla {
  position: relative;
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}

.header-navigation--kla li {
  list-style: none;
  margin-left: 30px;
  vertical-align: bottom;
  font-size: 1.4rem;
  /* transition: 0.1s all; */
}

.header-navigation--kla li:hover,
.header-navigation--kla li:active {
  /* background-color: var(--primaryKLA); */
  border-bottom: 2px solid var(--primaryKLA);
}

.header-navigation--kla li:last-child {
  /* background-color: var(--primaryKLA); */
  border: none;
  padding: 0 3px;
}

.header-navigation--kla li:last-child :hover {
  /* background-color: var(--primaryKLA); */
  color: #fff;
  background-color: var(--primaryKLA);
  border-radius: 2px;
}

.header-navigation--kla li i {
  color: var(--primaryKLA);
}

.header-navigation--kla li a {
  text-decoration: none;
  color: var(--primaryKLA);
  font-weight: 500;
  font-size: inherit;
  padding: 0 5px;
}

/* Header Level2  KLA -- End */

/* Header Level2  KLC --Start */

.header--level2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
}
.header-navigation--klc {
  position: relative;
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}

.header-navigation--klc li {
  list-style: none;
  margin-left: 30px;
  vertical-align: bottom;
  font-size: 1.4rem;
  /* transition: 0.1s all; */
}

.header-navigation--klc li:hover,
.header-navigation--klc li:active {
  /* background-color: var(--primaryKLA); */
  border-bottom: 2px solid var(--primaryKLC);
}

.header-navigation--klc li:last-child {
  /* background-color: var(--primaryKLA); */
  border: none;
  padding: 0 3px;
}

.header-navigation--klc li:last-child :hover {
  /* background-color: var(--primaryKLA); */
  color: #fff;
  background-color: var(--primaryKLC);
  border-radius: 2px;
}

.header-navigation--klc li i {
  color: var(--primaryKLC);
}

.header-navigation--klc li a {
  text-decoration: none;
  color: var(--primaryKLC);
  font-weight: 500;
  font-size: inherit;
  padding: 0 5px;
}

/* Header Level2  KLC -- End */

/* Loading CSS */

.button:disabled {
  opacity: 0.5;
}
.lds-dual-ring {
  display: inline-block;
  width: 0x;
  height: 0px;
}
.lds-dual-ring:after {
  /* position: absolute; */
  /* top: 16px;
  right: 328px; */
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  /* margin: 8px; */
  border-radius: 50%;
  /* border: 6px solid #fff;
  border-color: #fff transparent #fff transparent; */
  border: 4px solid var(--primaryKLA);
  border-color: var(--primaryKLA) transparent var(--primaryKLA) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
.lds-dual-ring:hover:after {
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Laoding CSS End */

/* Higlight Tab */

.active_tab--kla {
  border-bottom: 2px solid var(--primaryKLA);
}

.active_tab--klc {
  border-bottom: 2px solid var(--primaryKLC);
}

/* Highlight Tab end */

/* Debate Result Styles  */

/* /////////// Collapsible Styles ////// */
.collapsibleContainer {
  padding: 2rem 1rem;
}

/* Style the button that is used to open and close the collapsible content */
/* KLA */
.collapsible--kla {
  /* background-color: #eee; */
  color: var(--primaryKLA);
  cursor: pointer;

  font-weight: 500;
  padding: 12px;
  padding-left: 2rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.4rem;
  border-radius: 4.5rem 0.5rem 0 0;
  box-shadow: 0 0 6px rgb(0 0 0 / 20%);
  vertical-align: middle;
  /* background: #56ab2f; fallback for old browsers */
  background-color: var(--primaryLottie);
  letter-spacing: 1.3px;
  border-bottom: 4px solid var(--primaryKLA);
}
.collapsible--kla:hover {
}

.collapsible--kla::after {
  content: "\002B";
  color: var(--primaryKLA);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible--kla.active::after {
  content: "\2212";
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, */

/* KLC */
/* KLA */
.collapsible--klc {
  /* background-color: #eee; */
  color: var(--primaryKLA);
  cursor: pointer;
  font-weight: 400;
  padding: 12px;
  padding-left: 2rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 4.5rem 0.5rem 0 0;
  box-shadow: 0 0 6px rgb(0 0 0 / 20%);
  vertical-align: middle;
  /* background: #56ab2f; fallback for old browsers */
  background-color: var(--primaryLottie);
  border-bottom: 4px solid var(--primaryKLA);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, */
.collapsible--klc:hover {
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0.5rem 1.3rem;
  visibility: visible;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  transition: 0.5s display;
  vertical-align: middle;
}

.collapsibleInput {
  width: 100%;
  padding: 5px;
  font-weight: 400;
  outline: none;
  font-size: 1.2rem;
}

.facetContainer {
  padding: 1rem;
  overflow-y: auto;
}

.facetItem label {
  display: flex;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1.5rem;
}

.facetItem span {
  font-size: 1.2rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
}

/* /////////// Collapsible End ////// */

.debate-result--container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.debate-result-facet--container {
  /* background-color: red; */
  width: 20%;
}

.debate-result-resultPage--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: blue;
  width: 80%;
}

.debate-result-filterView--container {
  background-color: cadetblue;
  height: 10%;
}

.debate-result-resultPage-displayResults--container {
  background-color: aqua;
  height: 90%;
}

/* Debate Result Styles End  */

/* ////////////////////////////////////////////////////////// */
/* /////////////////Media Queries /////////////////////////// */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* /////////////////Media Queries End/////////////////////// */
/* ////////////////////// /////////////////////////// */
